*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    background: url(river2.jpg) no-repeat;
    background-size: cover;
}

.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login h1{
    color: rgb(0, 0, 0);
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.login p{
    font-size: 15px;
    text-align: center;
    color: rgb(62, 13, 241);
    padding: 10px 10px;
}

.login input{
    background: transparent;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px 10px;
    border-radius: 10px;
    text-align: center;
}

.login a{
    text-decoration: none;
    color: rgb(255, 238, 0);
}

.login #log button{
    font-size: 12px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: rgb(55, 100, 247);
    padding: 8px 20px;
}
.login #log button:hover{
    color: greenyellow;
}

.login #whats button{
    font-size: 15px;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    color: white;
    background-color: rgb(81, 209, 87);
    padding: 8px 10px;
}
.login #whats button:hover{
    color: greenyellow;
}

.login #fb button{
    font-size: 15px;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    color: white;
    background-color: rgb(44, 100, 221);
    padding: 8px 10px;
}
.login #fb button:hover{
    color: greenyellow;
}

.login #go button{
    font-size: 15px;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    background-color: white;
    padding: 8px 20px;
}
.login #go button:hover{
    color: greenyellow;
}

.login button:hover{
    color: greenyellow;
}