*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    /* background: url(river3.jpg) no-repeat; */
    background-size: cover;
}

.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    box-shadow: 3px 3px 3px 5px rgb(235, 232, 232);
    border-radius: 10px;
    padding: 40px 40px;
}

/* heading */
.login h1{
    color: rgb(0, 0, 0);
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.login p{
    font-size: 18px;
    text-align: center;
    color: #000000;
    padding: 5px 5px;
}

/* input textareas */
.login input{
    background: transparent;
    color: black;
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px 10px;
    border-radius: 10px;
    text-align: start;
    border: 1px solid rgb(110, 105, 105);
}

.login ::placeholder{
    color: rgb(77, 75, 75);
    font-size: 18px;
}

.login h4{ 
    margin-left: 9px;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 20px;
}

/* login button */
.login #log button{
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: #3764f7;
    padding: 10px 120px;
}

.login #log button:hover{
    color: rgb(99, 189, 241);
}

/* register link */
.login a{
    text-decoration: none;
    color: #3764f7;
}
