*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    background: url(river3.jpg) no-repeat;
    background-size: cover;
}

.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* heading */
.login h1{
    color: rgb(0, 0, 0);
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.login p{
    font-size: 20px;
    text-align: center;
    color: rgb(62, 13, 241);
    padding: 10px 10px;
}

/* input textareas */
.login input{
    background: transparent;
    color: black;
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px 10px;
    border-radius: 10px;
    text-align: center;
}

/* login button */
.login #log button{
    font-size: 18px;
    font-weight: 500;
    border-radius: 15px;
    border: none;
    color: white;
    background-color: rgb(55, 100, 247);
    padding: 10px 55px;
}

.login #log button:hover{
    color: rgb(99, 189, 241);
}

/* register link */
.login a{
    text-decoration: none;
    color: rgb(255, 238, 0);
}

/* facebook login */
.login #fb button{
    font-size: 20px;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    color: white;
    background-color: rgb(44, 100, 221);
    padding: 8px 10px;
}

.login #fb button:hover{
    color: rgb(99, 189, 241);
}

/* google login */
.login #go button{
    font-size: 20px;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    background-color: white;
    padding: 8px 20px;
}

.login #go button:hover{
    color: rgb(99, 189, 241);
}
