@import url(https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata);

* {
  padding: 0;
  margin: 0;
  font-family: "Crimson", sans-serif;
}

/*The css for the menu button*/
.menu {
  width: 100px;
  order: 3;
}

/* header bar */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 100;
}

/* the Felix logo */
.logo {
  font-size: 30px;
  color: rgb(255, 255, 255);
  cursor: default;
  order: -1;
}

.logo span {
  color: rgb(238, 65, 65);
}

/* navigation links */
.navigation a {
  font-size: 20px;
  color: rgb(238, 65, 65);
  text-decoration: none;
  margin-right: 40px;
  font-weight: 500;
  order: 1;
}

.navigation a:hover {
  color: rgb(255, 255, 255);
}

/* Let's talk button */
.talk {
  text-decoration: none;
  color: #fff;
  padding: 8px 30px;
  background: rgb(238, 65, 65);
  border-radius: 10px;
  border: 2px solid rgb(238, 65, 65);
  font-weight: 500;
  order: 2;
}

.talk:hover {
  color: rgb(238, 65, 65);
  background: transparent;
}

/* main page */
.home {
  /*Removed the width attribute to make the website width cover since you used background-position color*/
  position: relative;
  height: 100vh;
  background: url(man3.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 30px 100px;
}

/* main text */
.content {
  max-width: 500px;
  color: #000000;
}

.content h2 {
  font-size: 40px;
}

.content h2 span {
  color: rgb(238, 65, 65);
}

.content h4 {
  font-size: 30px;
  color: #fff;
}

.content p {
  padding: 10px 0 40px 0;
  color: #000000;
}

/* Hire me and See projects buttons */
.group a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px 40px;
  background: rgb(238, 65, 65);
  border-radius: 10px;
  border: 2px solid rgb(238, 65, 65);
  font-weight: 500;
  transition: 0.5s;
}

.group a:hover:nth-child(1) {
  color: rgb(238, 65, 65);
  background: transparent;
}

.group a:nth-child(2) {
  color: rgb(238, 65, 65);
  background: transparent;
  margin-left: 30px;
  padding: 10px 30px;
}

.group a:hover:nth-child(2) {
  color: #fff;
  background: rgb(238, 65, 65);
}

/* social media icons */
.socials {
  position: absolute;
  bottom: 100px;
}

.socials a {
  background: rgb(238, 65, 65);
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 22px;
  text-align: center;
  line-height: 40px;
  border: 1px solid rgb(238, 65, 65);
  outline: 2px solid rgb(238, 65, 65);
  transition: 0.5s;
}

.socials a:hover {
  color: #fff;
  transform: translateY(-5px);
}

.socials a i {
  color: white;
}

.menu {
  display: none;
}

/*Working the media queries*/

/*Media queries for devices with max-width of 320px*/
@media (max-width: 375px) {
  .menu {
    display: inline;
    width: 40px;
    padding-right: 20px;
    cursor: pointer;
  }

  .navigation {
    display: none;
    position: absolute;
    background: #000000;
    top: 42px;
    left: 50%;
    width: 50%;
    z-index: 99;
    height: 250px;
  }

  .navigation a {
    padding: 20px;
    margin-top: 10px;
  }

  .menu:hover + .navigation {
    display: block;
  }

  .logo {
    width: 20px;
    padding-right: 100px;
    margin-right: 30px;
  }

  header {
    padding-top: 5px;
  }

  .talk {
    font-size: 10px;
    padding: 8px 10px;
  }

  .home {
    height: 100vh;
    padding-left: 30px;
  }

  .content h2 {
    font-size: 1.5rem;
  }

  .content p {
    font-size: 1rem;
    color: #000000;
    padding-bottom: 30px;
  }

  .content h4 {
    font-size: 1rem;
    color: #000000;
  }

  .group {
    position: absolute;
    font-size: 10px;
    padding: 8px 1px;
  }
}
